* {
    font-family:Rubik, sans-serif;
}

.btn-home {
    margin: 3% 0;
    border:1em solid #911439;
    background-color:#ffffff;
    width: 40%;
    padding:1em;
    border-radius:10em;
}