* {
    font-family:Rubik, sans-serif;
}

.btn-home {
    margin: 3% 3%;
    border:0.1em solid #911439;
    color:0.1em solid #911439;
    background-color:#ffffff;
    width: 10em;
    padding:0.3em;
    border-radius:10em;
}